DATABASE_URL=postgresql://siges:siges@db:5432/siges
SECRET_KEY=cambia-esto-en-produccion-usa-openssl-rand-hex-32
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=480

POSTGRES_DB=siges
POSTGRES_USER=siges
POSTGRES_PASSWORD=siges

UPLOADS_DIR=/app/uploads
